.breadcrumb {
  &__navigation {
    margin-top: 28px;
    margin-bottom: 24px;

    @media (min-width: 768px) {
      margin-top: 32px;
      margin-bottom: 32px;
    }

    @media (min-width: 1024px) {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
  &__list {
    display: flex;
    color: #969eae;
    font-size: 14px;
    gap: 6px;
  }
  &__item {
    &:not(.breadcrumb__item:last-child)::after {
      content: '>';
      margin-left: 6px;
    }
  }

  &__link {
    transition: color 0.2s ease-in-out;
    &:hover {
      color: var(--blue);
    }
  }
}
