:root {
  position: relative;
  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;

  --light-grey: #eeeff2;
  --white: #ffffff;
  --dark-grey: #969eae;
  --black: #000;
  --blue: #0044f0;
  --default-color: #1c1c1c;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 1.2;
  color: #1c1c1c;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  padding: 0 16px;

  @media (min-width: 768px) {
    padding: 0 29px;
  }

  @media (min-width: 1024px) {
    padding: 0 43px;
  }

  @media (min-width: 1440px) {
    padding: 0 92px;
  }
}
