.footer {
  background: #1c1c1c;
  padding: 40px 0;

  &__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-around;
    }

    @media (min-width: 1440px) {
      justify-content: space-between;
    }
  }
  &__logo-link {
    flex-grow: 1;
    flex-basis: 100%;
    justify-items: center;
  }

  &__logo-icon {
    @media (min-width: 768px) {
      width: 275px;
    }
  }

  &__social {
    @media (min-width: 768px) {
      order: 1;
    }
  }

  &__social-phone {
    display: flex;
    color: #fff;
    margin-bottom: 16px;
  }

  &__social-list {
    display: flex;
    gap: 13px;
    align-items: center;
  }

  &__social-item {
  }

  &__social-link {
  }

  &__developer-list {
    color: #f1e9e4;
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media (min-width: 768px) {
      order: 0;
    }
  }

  &__developer-item {
  }

  &__developer-link {
  }

  &__copyright {
    color: #f1e9e4;

    @media (min-width: 768px) {
      order: 2;
    }
  }
}
