.header {
  padding: 18px 0;

  &__wrapper {
    display: grid;
    grid-template-areas:
      'logo links'
      'search search';
    justify-content: space-between;
    align-items: center;

    gap: 17px;
    padding-bottom: 16px;
    border-bottom: 1px solid #eeeff2;

    @media (min-width: 1024px) {
      grid-template-areas: 'logo search links';
    }
  }

  &__logo-link {
    grid-area: logo;
  }

  &__logo-image {
    width: 106px;

    @media (min-width: 768px) {
      width: 130px;
    }
  }

  &__search {
    grid-area: search;
    position: relative;
    width: 100%;
    height: 38px;

    @media (min-width: 1024x) {
      width: 408px;
    }

    @media (min-width: 1440px) {
      width: 514px;
    }
  }

  &__search-input {
    width: 100%;
    height: 100%;
    padding: 0 45px 0 24px;
    background-color: #eeeff2;
    border-radius: 32px;
    border: none;

    overflow-x: hidden;
    text-overflow: ellipsis;

    &::placeholder {
      color: #969eae;
    }
  }

  &__search-button {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
  }

  &__links-list {
    grid-area: links;
    display: flex;
    column-gap: 16px;

    @media (min-width: 1024px) {
      column-gap: 24px;
    }
  }

  &__link {
    display: flex;
    flex-direction: row-reverse;

    align-items: center;
    column-gap: 4px;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__link-text {
    display: none;

    @media (min-width: 768px) {
      display: block;
    }
  }

  &__link-text-count {
  }
}
